.vscode
*.sdf
*.opensdf
.vs
x64
ipch
Debug
Release
*.opendb
tags
*.pyc
Tracer.VC.db
build.err
build.log
msbuild.log
sdv
sdv.temp
*.vcxproj.user
.ipynb_checkpoints
TestResults
*.pgd
.idea
.cache
*.dgml
output
*-test.bat
*.aps
ctags.exe
build
build-tests/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
build.ninja
.ninja_deps
.ninja_log
install/
