/* css styles */

@font-face {
  font-family: 'Comic Mono NF';
  font-weight: normal;
  src: url(Comic.Mono.Bold.Nerd.Font.Complete.ttf);
}

@font-face {
  font-family: 'Comic Mono NF';
  font-weight: bold;
  src: url(Comic.Mono.Nerd.Font.Complete.ttf);
}

@font-face {
    font-family: 'EB Garamond';
    font-weight: normal;
    src: url(EBGaramond-VariableFont_wght.ttf);
}

/*
@font-face {
    font-family: 'EB Garamond';
    font-weight: italic;
    src: url(EBGaramond-Italic-VariableFont_wght.ttf);
}
*/

:root {
    --bs-navbar-brand-color: "white";
}

.navbar {
    background-image: url('/resources/bluebg.jpg');
}
